// COLORS
$color-primary: #ff793f;
$color-secondary: #34ace0;
$color-tertiary: #ff5252;
$color-quaternary: #706fd3;

$color-grey: #373c3f;
$color-grey-light: #ebebeb;

$color-typography: #515151;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// LAYOUT
$layout-intro: 4rem 2.6rem;
$layout-info: 2.3rem 2.6rem;